*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: #1F2937;
    padding: 20px;
    padding-bottom: 100px;
}

.headerlogo{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    align-items: center;
}

a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.headerbody{
    display: flex;
    background-color: #1F2937;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.headerbody h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900px;
    font-size: 48px;

}

.headerbody span{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    padding-right: 50px;
    color: #E5E7EB
}

.headerbody-left{
    max-width: 450px;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 45px
}

button{
    width: 100px;
    height: 40px;
    align-self: flex-start;
    margin-top: 10px;
    background-color: #3882F6;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    border: 0px solid #3882F6;
    font-weight: bolder;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
}

img{
    width: 700px;
    height: auto;
    padding-right: 70px;
}

.container2{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 400px;
    padding: 50px 0px;
}


.container2 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;

}


.boxes{
    display: flex;
    justify-content: space-around;
    gap: 60px;
    height: auto;
    width: 400px;
    margin-top: 60px;
    margin-bottom: 10px;


}

.box1{
    border: 3px solid #3882F6;
    border-radius: 8px;
    padding: 60px;
}

.box2{
    border: 3px solid #3882F6;
    border-radius: 8px;
    padding: 60px;

}

.box3{
    border: 3px solid #3882F6;
    border-radius: 8px;
    padding: 60px;
    margin: 0;
}

.box4{
    border: 3px solid #3882F6;
    border-radius: 8px;
    padding: 60px;
    margin: 0;
}

.illustrationdetails{
    display: flex;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    gap: 50px;
    text-align: center;
}

.container3{
    height: 400px;
    background-color: #E5E7EB;
}

.container3 p{
    font-size: 36px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: #1F2937;
    padding: 300px;
    padding-top: 100px;
    padding-bottom: 0px;
}

.quoted{
    text-align: right;
    padding-right: 500px;
    font-family: arial;
    font-weight: bolder;
    font-size: 18px;
}

.container4{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bluebox{
    height: 150px;
    width: 1000px;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
}

.bluebox h1{
    color: white;
    font-family: arial;
    padding-top: 50px;
    padding-left: 75px;
    padding-bottom: 0px;
    font-size: 18px;
    font-weight: bolder;
}

.bluebox p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 75px;
}

.bluebox-left{
    display: flex;
    flex-direction: column;

}

.bluebox-right{
    padding-top: 45px;
    padding-right: 60px;

}

.bluebox button{
    border: 2px solid white;
    align-self: flex-start;
}

.footer{
    height: 100px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 45px;
    background: #1F2937;
}